<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table, th, td {
        border: 1px solid rgb(255, 52, 1);
        }
    </style>
</head>
<body>
    <center><h1>Resultado da busca</h1></center>
    <center><table>
    
    <th><h3> O Numero de Usuários total no banco é de : </h3></th>
    <th> <%= Total %></th></center>
    </table></center>
    <button  onclick='window.history.back()'> Voltar a pagina inicial</button>
        
    
</body>
</html>